<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CreateAndShare copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CreateAndShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>28A046E7157F99870020CD16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E897E0F1925FD6200DAC8B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE7ECD71926084C009BF989</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE8280D1925F783001AC07B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE828231925F783001AC07B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EE82EF71925FBF9001AC07B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
